.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(235, 112, 112);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
label{
  margin: 0 30px 0;
}
.formPage{
  width: 500px;
  margin-left: 25%;
  text-align: center;
  justify-content: space-between;
  height: 100vh;
  font-size: 24px;
}
.btnForm{
  text-align: center;
  font-size: 24px;
  background-color: green;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 2px;
}